{% extends "base.html" %}

{% block main_content %}
    <main>
        <article>
            <section class="body">
                {% if section.title %}
                    {{<post.page_header title={section.title} />}}
                {% endif %}
                {{ section.content | safe }}
            </section>
        </article>
    </main>

    {% set posts_section = get_section(path="posts/_index.md") %}
    {% set projects_section = get_section(path="projects/_index.md") %}

    <section class="posts">
        {{<post.page_header title="posts" />}}
        <main class="list">
            {{<post.list_posts pages={posts_section.pages[:5]} />}}
        </main>
    </section>

    <section class="projects">
        {{<post.page_header title="projects" />}}
        <main>
            {{<cards_posts pages={projects_section.pages[:5]} section={projects_section} />}}
        </main>
    </section>
{% endblock main_content %}
